@import '../res/fonts/Inter/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Inter, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #212123;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-medium m-0;
  }

  p {
    @apply text-2xl font-light
  }
}

@layer components {
  .container {
    @apply w-full px-6 py-2 max-w-[1920px]
  }
}

.video > video {
  width: 100% !important;
  @apply absolute top-10
  -m-[4rem] scale-110 opacity-40
  pointer-events-none
}
